.keyboard-key {
  width: 50px;
  height: 65px;
  margin: 5px;
  
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  font-size: large;
  border: none;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.keyboard {
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  padding: 10px;
}

.keyboard-key:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);

}

.buttons {
  display: flex;
  justify-content: center; 
  margin-top: 5px; 
}

.buttons button {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color:#f0f0f0;
  color: 'black'; 
  border: none;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1); 
}

.buttons button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); 
}

.display-input button {
  width: 50px;
  height: 65px;
  margin: 5px;
  
  text-align: center;
  font-size: large;
  border: none;
  border-radius: 3px;
  color:black;
  background-color:#f0f0f0;
}

.display-input  {
  margin: 5px;
  cursor: default; /* Disable pointer events */
  display: flex;
  justify-content: center;
}

.display-single-guess {
  margin: 5px;
  cursor: default; 
}

.display-single-guess button {
  width: 50px;
  height: 65px;
  margin: 5px;
  
  text-align: center;
  line-height: 40px;
  font-size: large;
  border: none;
  border-radius: 3px;
  color:black;
}

.congrats {
  position: fixed;
  justify-content: center;
  top: 40%;
  height: 200px;
  width: 300px;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1001;
  background-color:rgb(226, 226, 226);
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent grey overlay */
  z-index: 1000;
  pointer-events: none; /* Allow clicks to pass through initially */
}

.congrats button {
  position: fixed;
  bottom: 15px;
  justify-content: center;
  font: 20px;
  transform: translate(-50%,0);
  left: 50%;
  height: 30px;
  width: 80px;
  border-radius: 3px;
  border: none;
}

.congrats button:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5); 
}


