.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-container {
  margin: 5px;
  max-height: 410px;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.scroll-content {
  width: 100%; 
  min-height: min-content;
}

.display-message {
  position: fixed;
  padding: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Set a high z-index value to place it on top of other elements */
  background-color:rgba(212, 210, 210, 0.932);
  border-radius: 5px;
}


